<div fxLayout="row | wrap" fxLayoutAlign="center center" class="container">
        <figure>    
            <i class="fas fa-user-circle fa-8x user_profile"></i>
        </figure>
</div>


<div fxLayout="row | wrap" fxLayoutAlign="center center" class="container">
    <h6 class="mat-display-1 vertical">Lașco Daniil</h6>
        <p class="mat-display-1 vertical">Job Offer</p> 
        <p class="mat-display-1 ">Chisinau</p>
</div>

<div fxLayout="row | wrap" fxLayoutAlign="center center" >

        <div class="service-item">
            <div class="service-item-icon">
                <i class="fa fa-calendar fa-3x"></i>
            </div>
            <div class="service-item-title">
                <h3>300 LOCURI DE MUNCA</h3>
            </div>

            <div class="service-item-desc">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
        </div>
        <div class="service-item">
            <div class="service-item-icon">
                <i class="fa fa-cube fa-3x"></i>
            </div>
            <div class="service-item-title">
                <h3>100+ Angajati</h3>
            </div>

            <div class="service-item-desc">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
        </div>
        <div class="service-item">
            <div class="service-item-icon">
                <i class="fa fa-flag fa-3x"></i>
            </div>
            <div class="service-item-title">
                <h3>$ 200+ </h3>
            </div>

            <div class="service-item-desc">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
        </div>

        <section id="message_form">
                <div class="content-title">
                            <h3 class="vertical">Contactează un angajator</h3>
                            <article class="vertical">
                                <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged.
                                </p>
                            </article>
                            
                </div>

                <div class="container">
                <div >
                        <input ng-model="firstName"
                               class="formControl"
                               name="firstName"
                               placeholder="First Name"
                                maxlength="45"
                               />
            </div>
                    <div >
                    <input ng-model="lastname"
                            class="formControl"
                            name="lastname"
                            placeholder="Last Name"
                                maxlength="45"
                    /></div>

            <div class="col-sm-10">
                <input ng-model="Email" class="formControl" name="Email" placeholder="Insert your email" maxlength="45"
                />
           
                </div>
                <div >
                <textarea rows="5" class="formControl textareaClass"  placeholder="Test Area"></textarea>
            
                </div>
                <button class="Button">Trimite</button>
            </div>
        </section>
</div>