<div class="anouncements-heading">
  <h3> My Announcements </h3>
</div>

<div class="mat-elevation-z8" matSort>
  <table [dataSource]="adverts" class="user-data-table" mat-table>
    <ng-container matColumnDef="Title">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Title</th>
      <td *matCellDef="let element" mat-cell> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="Category">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Category</th>
      <td *matCellDef="let element" mat-cell> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="City">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>City</th>
      <td *matCellDef="let element" mat-cell> {{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="Contact">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Contact</th>
      <td *matCellDef="let element" mat-cell> {{element.contact}} </td>
    </ng-container>

    <ng-container matColumnDef="PublishedOn">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>PublishedOn</th>
      <td *matCellDef="let element" mat-cell> {{element.publishedOn  | date:'dd/MM/yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
      <td *matCellDef="let element" mat-cell>
        <button (click)="onUpdate(element.advertId)" mat-icon-button>
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button (click)="openPopUp(element.advertId, element.title)" mat-icon-button>
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columnsToDisplay;" mat-row></tr>
  </table>
</div>
