<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<h1>POSTED ANOUNCED</h1>-->
<!--<div fxLayout="row | wrap" fxLayoutAlign="center center" class="container">-->
<!--  <div *ngFor="let advert of adverts">-->
<!--    <mat-card  class="mat-elevation-z5">-->
<!--      <mat-card-title>{{advert.title}}</mat-card-title>-->
<!--      <mat-card-content>{{advert.city}}</mat-card-content>-->
<!--      <mat-card-content>{{advert.category}}</mat-card-content>-->
<!--      <mat-card-content>{{advert.description}}</mat-card-content>-->
<!--      <mat-card-content>{{advert.contact}}</mat-card-content>-->
<!--      <mat-card-content>{{advert.publishedOn | date:'MM/dd/yyyy' }}</mat-card-content>-->
<!--      <mat-card-actions></mat-card-actions>-->
<!--      <mat-card-actions >-->
<!--        <button mat-icon-button color="warn" class="action__button" (click)="openPopUp(advert.advertId)">-->
<!--          <mat-icon>delete</mat-icon>-->
<!--        </button>-->
<!--        <button mat-icon-button color="primary" class="action__button" (click)="onUpdate(advert.advertId)">-->
<!--          <mat-icon>edit</mat-icon>-->
<!--        </button>-->
<!--      </mat-card-actions>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</div>-->


<div matSort class="mat-elevation-z8" >
  <mat-form-field appearance="outline" class = "search-box" >
    <mat-label>Search the job</mat-label>
    <input matInput [formControl]="searchInput"  placeholder="Placeholder">
  </mat-form-field>
  <button mat-raised-button color="primary" > Find Jobs</button>

  <table mat-table [dataSource]="employerJobs" class="user-data-table">
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.jobId}} </td>
    </ng-container>

    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="Category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Category</th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="City">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >City</th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="Publish Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Publish Date</th>
      <td mat-cell *matCellDef="let element"> {{element.publishedOn | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="Finish Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Finish Date</th>
      <td mat-cell *matCellDef="let element"> {{element.finishedOn | date:'dd/MM/yyyy'}} </td>
    </ng-container>


    <ng-container matColumnDef="Contact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact</th>
      <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
    </ng-container>

    <!--    *ngxPermissionsOnly="['Employer', 'Student']"-->

    <ng-container matColumnDef="Actions"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <button mat-icon-button color="primary" (click)="onUpdate()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </th>

      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="onUpdate(element.jobId)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<!--  <mat-paginator-->
<!--    [pageIndex]="paginationOptions.pageIndex"-->
<!--    [length]="paginationOptions.length"-->
<!--    (page)="onPaginatorChange($event)"-->
<!--    [pageSize]="paginationOptions.pageSize"-->
<!--    [pageSizeOptions]="paginationOptions.pageSizeOptions">-->
<!--  </mat-paginator>-->
</div>


