<mat-card *ngIf="jobTitle && isLoggedIn" class="chat-box">
  <mat-card-header (click)="toggle()" class="chat-head">
    <mat-card-title class="chat_title">
      <div [ngClass]="isOnline? 'status_circle-online':'status_circle-offline'"></div>
      {{chatName}}
      <span (click)="onClose()" style="font-size: 18px; position: absolute; right: 20px;">x</span>
    </mat-card-title>
    <mat-card-subtitle>
      <span style="font-size: 14px; font-style: italic; color: #ffffff;">{{jobTitle}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <div *ngIf="!isClosed">
    <mat-card-content class="chat-body">

      <mat-list>
        <mat-list-item *ngFor="let item of chats" class="pad-top pad-bottom">
          <h3 class="cursor-pointer" matLine><b>{{item.from}}</b></h3>
          <div matLine>
            <div style="width: 25px; word-break: break-all;">
              {{item.message}}
            </div>
            <span class="tc-grey-500 md-caption"
                  style="font-size: 10px; font-style: italic;">{{item.date | date: 'short'}}</span>
          </div>
        </mat-list-item>
      </mat-list>

    </mat-card-content>
    <mat-card-actions class="chat-footer">
      <mat-divider></mat-divider>
      <form (ngSubmit)="onSend(inputValue.value)" [formGroup]="inputValue" class="message-form">
        <mat-form-field class="example-full-width">
          <mat-label>Enter Message</mat-label>
          <input autocomplete="off" formControlName="text" matInput>
          <mat-icon (click)="onSend(inputValue.value)" matSuffix style="cursor: pointer;">send</mat-icon>
        </mat-form-field>
      </form>
    </mat-card-actions>
  </div>

</mat-card>
