<h1 mat-dialog-title>{{jobData.id ? 'Edit' : 'Add'}} Job</h1>
<div mat-dialog-content>
  <button class="custom-upload-button" mat-raised-button>
    <span>Upload Image</span>
    <input (change)="onUploadImage($event)" [(ngModel)]="this.job.imagePath" accept='image/*' type="file"/>
  </button>
  <span class="upload-file-name">{{uploadFileName}}</span>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input [(ngModel)]="this.job.title" matInput required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="this.job.categoryId" required>
      <mat-option *ngFor="let category of this.jobData.categories" [value]="category.id">
        {{category.category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Job Type</mat-label>
    <mat-select [(ngModel)]="this.job.typeJobId" required>
      <mat-option *ngFor="let jobType of this.jobData.jobTypes" [value]="jobType.id">
        {{jobType.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>City</mat-label>
    <mat-select [(ngModel)]="this.job.cityId" required>
      <mat-option *ngFor="let city of this.jobData.cities" [value]="city.id">
        {{city.city}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Salary</mat-label>
    <input [(ngModel)]="this.job.salary" matInput type="number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact</mat-label>
    <input [(ngModel)]="this.job.contact" matInput required type="number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input (dateChange)="addEvent($event)" [matDatepicker]="picker" [ngModel]="this.job.finishedOn" matInput>
    <mat-datepicker-toggle [for]="picker" matSuffix>
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker [(ngModel)]="this.job.finishedOn" ngDefaultControl></mat-datepicker>
  </mat-form-field>
  <button (click)="jobData.id ? onJobEdit(job, jobData.id) : onJobAdd()" color="primary" mat-raised-button>
    {{jobData.id ? 'Update' : 'Add'}} Job
  </button>
</div>
