<div>
  <h3 *ngxPermissionsOnly="['Student']">Enrolled Jobs</h3>
  <h3 *ngxPermissionsOnly="['Employer']">Posted Jobs</h3>
</div>

<div *ngxPermissionsOnly="['Employer']" class="mat-elevation-z8" matSort>
  <mat-form-field appearance="outline" class="search-box">
    <mat-label>Search the job</mat-label>
    <input (keyup)="onSearch()" [formControl]="searchInput" matInput placeholder="Placeholder">
  </mat-form-field>

  <table [dataSource]="employerJobs" class="user-data-table" mat-table>

    <ng-container matColumnDef="Title">
      <th (click)="this.filterByAttribute('title','titleOrder')" *matHeaderCellDef mat-header-cell mat-sort-header>
        Title
      </th>
      <td *matCellDef="let element" mat-cell> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="Category">
      <th (click)="this.filterByAttribute('category','categoryOrder')" *matHeaderCellDef mat-header-cell
          mat-sort-header> Category
      </th>
      <td *matCellDef="let element" mat-cell> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="City">
      <th (click)="this.filterByAttribute('city','cityOrder')" *matHeaderCellDef mat-header-cell mat-sort-header>City
      </th>
      <td *matCellDef="let element" mat-cell> {{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="Publish Date">
      <th (click)="this.filterByAttribute('publishedOn','publishedOrder')" *matHeaderCellDef mat-header-cell
          mat-sort-header>Publish Date
      </th>
      <td *matCellDef="let element" mat-cell> {{element.publishedOn | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="Finish Date">
      <th (click)="this.filterByAttribute('publishedOn','finishedOrder')" *matHeaderCellDef mat-header-cell
          mat-sort-header>Finish Date
      </th>
      <td *matCellDef="let element" mat-cell> {{element.finishedOn | date:'dd/MM/yyyy'}} </td>
    </ng-container>


    <ng-container matColumnDef="Contact">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Contact</th>
      <td *matCellDef="let element" mat-cell> {{element.contact}} </td>
    </ng-container>


    <ng-container matColumnDef="PublishedOn">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>PublishedOn</th>
      <td *matCellDef="let element" mat-cell> {{element.publishedOn  | date:'dd/MM/yyyy' }} </td>
    </ng-container>


    <ng-container matColumnDef="Actions">
      <th *matHeaderCellDef mat-header-cell>
        <button (click)="onUpdate()" color="primary" mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </th>

      <td *matCellDef="let element" mat-cell>
        <button (click)="onUpdate(element.jobId)" mat-icon-button>
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button (click)="onClickPopUp(element.jobId, element.title)" mat-icon-button>
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr *matHeaderRowDef="postedJobsColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: postedJobsColumns;" mat-row></tr>
  </table>
  <mat-paginator
    (page)="onPaginatorChange($event)"
    [length]="paginationOptions.length"
    [pageIndex]="paginationOptions.pageIndex"
    [pageSizeOptions]="paginationOptions.pageSizeOptions"
    [pageSize]="paginationOptions.pageSize">
  </mat-paginator>
</div>

<div *ngxPermissionsOnly="['Student']" class="mat-elevation-z8" matSort>
  <table [dataSource]="this.studentEnrolledJobs" class="user-data-table" mat-table>
    <ng-container matColumnDef="Title">
      <th (click)="this.filterByAttribute('title','titleOrder')" *matHeaderCellDef mat-header-cell mat-sort-header>
        Title
      </th>
      <td *matCellDef="let element" mat-cell> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="Category">
      <th (click)="this.filterByAttribute('category','categoryOrder')" *matHeaderCellDef mat-header-cell
          mat-sort-header> Category
      </th>
      <td *matCellDef="let element" mat-cell> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="City">
      <th (click)="this.filterByAttribute('city','cityOrder')" *matHeaderCellDef mat-header-cell mat-sort-header>City
      </th>
      <td *matCellDef="let element" mat-cell> {{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="Contact">
      <th *matHeaderCellDef mat-header-cell>Contact</th>
      <td *matCellDef="let element" mat-cell> {{element.contact}} </td>
    </ng-container>

    <ng-container matColumnDef="PublishedOn">
      <th (click)="this.filterByAttribute('publishedOn','publishOrder')" *matHeaderCellDef mat-header-cell
          mat-sort-header>PublishedOn
      </th>
      <td *matCellDef="let element" mat-cell> {{element.publishedOn  | date:'dd/MM/yyyy' }} </td>
    </ng-container>


    <ng-container matColumnDef="Actions">
      <th *matHeaderCellDef mat-header-cell>
      <td *matCellDef="let element" mat-cell>
        <button (click)="onClickPopUp(this.element.jobId, this.element.title)" mat-icon-button>
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="enrolledJobsColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: enrolledJobsColumns;" mat-row></tr>
  </table>
</div>

<app-advert *ngxPermissionsOnly="['Student']"></app-advert>
