<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input [(ngModel)]="this.advert.title" required matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>City</mat-label>
    <mat-select [(ngModel)]="this.advert.cityId" required>
      <mat-option *ngFor="let city of cities" [value]="city.id">
        {{city.city}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input [(ngModel)]="this.advert.description" required matInput>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onUpdate(advert,advert.advertId)">UPDATE</button>
</div>
