<mat-card class="mat-elevation-z3">
  <mat-form-field appearance="outline" class="search-box">
    <mat-label>Search the job</mat-label>
    <input (keyup)="onSearch()" [formControl]="searchInput" matInput>
  </mat-form-field>
  <table class="filter-options">
    <th (click)="this.filterByAttribute('title','titleOrder')" mat-sort-header="Title">Title</th>
    <th (click)="this.filterByAttribute('city','titleOrder')" mat-sort-header="City">City</th>
    <th (click)="this.filterByAttribute('category','categoryOrder')" mat-sort-header="Category">Category</th>
  </table>
</mat-card>


