<div mat-dialog-content>
  <button mat-raised-button class="custom-upload-button">
    <span>Upload Image</span>
    <input type="file" accept='image/*' [(ngModel)]="this.registeredUser.ImagePath" (change)="onUploadImage($event)" />
  </button>
  <span class="upload-file-name">{{uploadFileName}}</span>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input [(ngModel)]="this.registeredUser.UserName" required matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input [(ngModel)]="this.registeredUser.FirstName" required matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input [(ngModel)]="this.registeredUser.LastName" required matInput>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Email</mat-label>
    <input [(ngModel)]="this.registeredUser.Email" required matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input [(ngModel)]="this.registeredUser.Password"  type = "password" required matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone number</mat-label>
    <input [(ngModel)]="this.registeredUser.PhoneNumber" required matInput>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select [(ngModel)]="this.registeredUser.RoleFromRegister" required>
      <mat-option *ngFor="let role of this.roles" [value]="role">
        {{role}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onSubmit()">Register
  </button>
</div>






