.image{
  width: 100px;
}

.container {
  max-width: 95%;
  margin: auto;
}

.container__element {
  margin: 10px 0;
}

.card-header__container {
  margin-left: 20px;
}

.mat-card-header {
  display: flex;
  flex-direction: row-reverse;
}

mat-card {
  margin: 10px;
}

.action__button {
  margin: 0 10px;
}
